.client-body{
  padding-top: 40px;
}
.cart-body{
  padding-top: 20px;
  width: 600px;
  max-width: 100%;
}
.toast{
  margin: 10px auto;
  background-color: green;
}

button:focus {outline:0;}

.quantity{
margin-right: 1rem;
}

.btn-checkout{
  margin: 30px 15px;
  text-transform: uppercase;
  font-weight:400;
}
.cart-table p{
    margin-bottom: 0px;
}
.cart-model-size{
    font-size: 12px;
}

.cart-table img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 auto;
}
.container-form{
    max-width: 600px;
    padding-top: 5vh;
}
@media screen and (max-width: 768px){
.MuiTableCell-root{
  padding: 5px !important;
}
.MuiIconButton-root{
  padding: 5px !important;
}

.client-body{
  padding-top: 20px;
}
}

