.home-images{
    margin-top: -70px ;
    
    color: white;
    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
    display: flex;
    justify-content: center;
    text-align: center;
}
.responsive-none{
    display: none;
}
.home-title{
    position: absolute;
    top: 30vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.home-images p{
    position: absolute;
    top: 50vh;
    color: white;
}

.home-body{
    margin: 50px auto
}
.home-body h1{
    margin: 20px 0;
    text-align: center;
}
.home-body p{
    text-align: center;

}

@media screen and (min-width: 768px){

.home-images img{
    max-width: 50%;
}
.home-title{
    max-width: 70%;
    font-size: 3rem;
}
.responsive-none{
    display: block;
}
}